.section{
width: 1600px;
background: linear-gradient(90deg, rgba(0, 2, 10, 1) 0%, rgba(59, 168, 141, 1) 41%, rgba(119, 196, 207, 1) 52%, rgba(29, 155, 165, 1) 65%, rgba(28, 1, 1, 1) 100%); 
margin: auto;
}
.section_hero{
//min-height: 400px;
background-color: aqua;
background: linear-gradient(90deg, rgba(0, 2, 10, 1) 0%, rgba(59, 168, 141, 1) 41%, rgba(119, 196, 207, 1) 52%, rgba(29, 155, 165, 1) 65%, rgba(28, 1, 1, 1) 100%);
}
.hero_h1 {

font-size: 27px;
font-family: Rubik Moonrocks;
text-shadow: 1px 2px 1px rgb(255, 255, 254);
line-height: calc(47/35);
letter-spacing: 3%;
text-align: center;

font-weight: 700;
text-align: center;
/* padding-top: 0px; */

color: #ffd105;
width: 790px;
}
.section_content{
margin-top: 50px;
margin-bottom: 0;
}
