.icon {
 display: inline-block;
 width: 1em;
 height: 1em;
 stroke-width: 0;
 stroke: currentColor;
 fill: currentColor;
}
.icon-logo {
 width: 1.0810546875em;
}

.header{
 margin-right: 10px;
 width: 390px;
}
.section{
 max-width: 740px;
 background-color: red;
}
.container {
 width: 1200px;
display: flex;

}