 :root{
  --black: #2a2828;
  --yelow:rgb(250, 218, 14);
  --orange:rgb(250, 144, 14);
  --gray:rgb(178, 177, 173);
 }
 ul{
 text-decoration: none;
 list-style: none;
}
a{
 text-decoration: none;
 color: aliceblue;
}
h1,
h2, 
h3,
h4,
h5 {
margin: 0;
}
.is-hidden {
 visibility: hidden;
 opacity: 0;
}

.visually-hidden {
 position: absolute;
 white-space: nowrap;
 width: 1px;
 height: 1px;
 overflow: hidden;
 
 border: 0;
 padding: 0;
 clip: rect(0 0 0 0);
 clip-path: inset(50%);
 margin: -1px;
}

@import'./form';
@import'./header';
